################################################################################
# 通用忽略规则（适用于所有 .NET 项目）
################################################################################

# 编译输出
bin/
obj/
publish/
*.dll
*.pdb

# 本地日志和缓存
Logs/
*.log

# 用户文件
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncrunch*
*.vssscc
*.vspscc
*.vssscc
*.vsp
*.vsmdi

# Rider / VS Code
.idea/
.vscode/

# Visual Studio
.vs/
!**/.vsconfig

# Node.js
node_modules/

# 临时文件
*.tmp
*.bak
~$*

# 文档临时文件
document/~$*

# 本地上传目录或文件（请根据需要保留）
**/UploadFile/
/MicroServices/FileStorage/FileStorage.Host/wwwroot
/MicroServices/Business/Business.Host/wwwroot
/MicroServices/Business
/MicroServices/Feedback_Worker/src/FeedbackWorkerService/bin
Gateways/consul.exe
